---
name: Files Lint
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read  # for actions/checkout to fetch code

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-action
        uses: actions/checkout@v6

      - name: yamllint
        uses: ibiqlik/action-yamllint@v3

  typos-cli:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-action
        uses: actions/checkout@v6

      - name: typos-action
        uses: crate-ci/typos@v1.42.0

  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-action
        uses: actions/checkout@v6

      - name: markdownlint-cli2-action
        uses: DavidAnson/markdownlint-cli2-action@v22.0.0

  editorconfig-checker:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-action
        uses: actions/checkout@v6

      - name: editorconfig-checker-action
        uses: editorconfig-checker/action-editorconfig-checker@v2

  vale:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-action
        uses: actions/checkout@v6

      # mitigate some issues with the vale-action
      - name: Install Asciidoctor
        run: sudo apt-get install -y asciidoctor

      - name: vale-action
        uses: errata-ai/vale-action@v2
